crispy-bootstrap5
mcp>=1.9
dj-database-url==3.1.2
Django==5.2.15
django-crispy-forms==2.6
django-mathfilters==1.0.0
django-widget-tweaks==1.5.1
gunicorn==22.0.0
whitenoise==6.12.0
Pillow==11.2.1
psycopg2-binary==2.9.12
python-decouple==3.1
