body {
  background-image: url(../img/sports.png);
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
}

.alert {
  display:inline-block;
}

.logo {
  font-family: 'Comfortaa', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}