<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>User</th>
      <th>Champion</th>
    </tr>
  </thead>
  <tbody>
    {% for prediction in champ_predictions %}
      <tr>
        <td><a href="{% url 'results:user_results' prediction.user_id.id %}">{{ prediction.user_id.first_name }}</a></td>
        {% if prediction.prediction_id.is_winner == False %}
          <td><s>{{ prediction.prediction_id.team_id }}</s></td>
        {% elif prediction.prediction_id.is_winner == True %}
          <td><b>{{ prediction.prediction_id.team_id }}</b></td>
        {% else %}
          <td>{{ prediction.prediction_id.team_id }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
