<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>User</th>
      <th>Champion</th>
    </tr>
  </thead>
  <tbody>
    {% for prediction in champ_predictions %}
      <tr>
        <td><a href="{% url 'results:user_results' prediction.user_id.id %}">{{ prediction.user_id.first_name }}</a></td>
        <td>{{ prediction.team_id }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'predictions:winner' %}"><button type="button" class="btn btn-primary">Predict</button></a>
