{% load i18n %}
<table class="table table-sm table-hover mb-0">
  <thead class="table-dark">
    <tr>
      <th>{% trans "User" %}</th>
      <th>{% trans "Champion" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for prediction in champ_predictions %}
      <tr>
        <td><a href="{% url 'results:user_results' prediction.user_id.id %}">{{ prediction.user_id.first_name }}</a></td>
        {% if submissions_closed %}
          {% if prediction.prediction_id.is_winner == False %}
            <td><s>{{ prediction.prediction_id.team_id }}</s></td>
          {% elif prediction.prediction_id.is_winner == True %}
            <td><b>{{ prediction.prediction_id.team_id }}</b></td>
          {% else %}
            <td>{{ prediction.prediction_id.team_id }}</td>
          {% endif %}
        {% else %}
          <td class="text-muted">{% trans "Hidden until deadline" %}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
