{% load i18n %}
{% if live_matches %}
  <div class="row">
    {% for live_match in live_matches %}
      <div class="col-12 col-md-6 mb-2">
        <div class="card h-100">
          <div class="card-header"><a href="{% url 'matches:single_match' live_match.match_id %}">{{ live_match }}</a></div>
          <div class="card-body">
            <h3 class="card-title">{{ live_match.result }}</h3>
            <p class="mb-0">
              {% if live_match.current_minute %}<small class="text-muted me-1">{{ live_match.current_minute }}'</small>{% endif %}
              <span class="badge {% if live_match.status == 'PAUSED' %}text-bg-secondary{% else %}text-bg-danger{% endif %} small">{% if live_match.status == 'PAUSED' %}{% trans "HT" %}{% else %}LIVE{% endif %}</span>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
