{% extends 'base.html' %}

{% block title %}История ТП{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">История ТП</li>
{% endblock %}

{% block content %}
<h3>История Турнира Прогнозистов (2004–2024)</h3>
<p class="text-muted">На наших с вами глазах сейчас проходит уже 12-ый Турнир Прогнозистов (ТП) кряду. Так давайте же пройдёмся по основным вехам истории наших любимых ТП.</p>

<hr>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧЕ-2004</strong></div>
  <div class="card-body">
    <p class="text-muted font-italic">Это было давно. Многое стёрло время. Информация по данному ТП уточняется.</p>
    <p><strong>Победитель:</strong> Зураб</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧМ-2006</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 12</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Витали (г. Кёльн, Германия) — 68 очков (угадано 12 счетов, 3 разницы, 30 исходов)</li>
      <li>Don Pablo (г. Волгоград) — 58 очков (угадано 10 счетов, 9 разниц, 26 исходов)</li>
      <li>Бур (г. Волгоград) — 54 очка (угадано 8 счетов, 6 разниц, 28 исходов)</li>
      <li style="list-style: none;">…</li>
      <li value="10">Зураб (г. Волгоград) — 45 очков (угадано 5 счетов, 7 разниц, 30 исходов)</li>
      <li>Юрий (г. Волгоград) — 39 очков (угадано 3 счета, 8 разниц, 30 исходов)</li>
      <li>Антон (г. Москва) — 32 очка (угадано 2 счета, 7 разниц, 26 исходов)</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Don Pablo переписывался со многими людьми в инете во время ЧМ-2006, в т.ч. с чуваком из Гомеля, с различными немцами, один из них был некий Витали из Кёльна, но родом из Казахстана. По некоторым данным, он обманывал доверчивого Пабло, иногда давая прогнозы уже после матча, но потом клялся, что ставил такой прогноз до начала встречи, а Павел, как наивное дитятко, верил в святость фрица. Так что, до сих пор непонятно, честным ли путём выиграл этот ТП Витали.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧЕ-2008</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 3 (все — г. Волгоград)</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Пшек — 51 очко (угадано 5 счетов, 6 разниц, 8 исходов)</li>
      <li>Бур — 41 очко (угадано 3 счета, 5 разниц, 11 исходов)</li>
      <li>Don Pablo — 37 очков (угадано 4 счета, 3 разницы, 8 исходов)</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Пшек обула отца и брата, уверенно взойдя на вершину турнира.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧМ-2010</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 8</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Пшек — 79 очков (угадано 8 счетов, 7 разниц, 18 исходов)</li>
      <li>Зураб — 72 очка (угадано 8 счетов, 5 разниц, 16 исходов)</li>
      <li>RomBa$$ — 68 очков (угадано 6 счетов, 5 разниц, 20 исходов)</li>
      <li style="list-style: none;">…</li>
      <li value="6">Don Pablo — 58 очков (угадано 5 счетов, 6 разниц, 15 исходов)</li>
      <li>Бур — 53 очка (угадано 4 счета, 6 разниц, 16 исходов)</li>
      <li>Антон — 44 очка (угадано 2 счета, 6 разниц, 16 исходов)</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Бенефис Пшека, которая выиграла турнир второй раз подряд! Удивительно классная стабильность! Также здесь выстрелил Зураб, до этого считавшимся одним из аутсайдеров, несмотря на то, что выиграл самый первый ТП. Слабо провели турнир батёк и сын.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧЕ-2012</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 8</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Бур — 47 очков (угадано 6 счетов, 4 разницы, 5 исходов)</li>
      <li>Don Pablo — 45 очков (угадано 5 счетов, 5 разниц, 5 исходов)</li>
      <li>DaRk SnoW — 45 очков (угадано 5 счетов, 4 разницы, 8 исходов)</li>
      <li style="list-style: none;">…</li>
      <li value="6">Котопёс — 34 очка (угадано 2 счета, 6 разниц, 6 исходов)</li>
      <li>Юрий — 33 очка (угадано 1 счет, 6 разниц, 10 исходов)</li>
      <li>Зураб — 22 очка (угадано 0 счетов, 4 разницы, 10 исходов)</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Что ж, Бур победил, вот такой бравый мОлодец! Don Pablo и DaRk SnoW набрали одинаковое кол-во баллов, но Don Pablo всё-таки выше, потому что больше разниц угадал, нежели его ровесник. Зураб снова погрузился в привычную рутину, после того как стал одним из главных ньюсмейкеров прошлого мундиаля.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧМ-2014</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 12</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>DaRk SnoW — 87 очков (угадано 10 счетов, 4 разницы, 18 исходов)</li>
      <li>Котопёс — 86 очков (угадано 9 счетов, 8 разниц, 17 исходов)</li>
      <li>Пшек — 82 очка (угадано 6 счетов, 9 разниц, 20 исходов)</li>
      <li style="list-style: none;">…</li>
      <li value="10">Ромич — 65 очков (угадано 5 счетов, 8 разниц, 16 исходов)</li>
      <li>Юрий — 47 очков (угадано 3 счета, 7 разниц, 23 исхода)</li>
      <li>Константин — 47 очков (угадано 3 счета, 7 разниц, 19 исходов)</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> DaRk SnoW победил в турнире, благодаря нововведению, когда угадал чемпиона заранее. Котопёс не угадал чемпиона, и тогда остался только вторым. Если бы не нововведение с угадыванием чемпиона, то Котопёс бы стал победителем.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧЕ-2016</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 12</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Ромич — 67 очков (угадано 6 счетов, 9 разниц, 10 исходов)</li>
      <li>Котопёс — 67 очков (угадано 6 счетов, 9 разниц, 10 исходов)</li>
      <li>Антон — 61 очко (угадано 7 счетов, 5 разниц, 11 исходов)</li>
      <li style="list-style: none;">…</li>
      <li value="10">Элано — 45 очков (угадано 2 счета, 8 разниц, 11 исходов)</li>
      <li>Беляк — 41 очко (угадано 3 счета, 3 разницы, 17 исходов)</li>
      <li>Пшек — 38 очков (угадано 3 счета, 3 разницы, 14 исходов)</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Этот, без сомнения, легендарный Турнир Прогнозистов был зафиксирован, как самый упорный и бескомпромиссный за всю его многолетнюю историю! По итогам группового этапа тройка лидеров Турнира Прогнозистов выглядела также, что и по итогам всего турнира, а в итоге победителя пришлось выявлять с помощью дополнительного показателя. У г-нов Ромича и Котопса было угадано по 6 счетов, 9 разниц и 10 исходов. Победа всё же досталась г-ну Ромичу, т.к. он раньше угадал первый счёт на Чемпионате Европы, нежели его оппонент.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧМ-2018</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 18</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Петрови4 — 87 очков</li>
      <li>Бур — 78 очков</li>
      <li>Ромич — 77 очков</li>
      <li style="list-style: none;">…</li>
      <li value="16">Зураб — 53 очка</li>
      <li>Канов — 50 очков</li>
      <li>Rin — 46 очков</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Петрови4 дебютировал в системе ТП и сходу уверенно выиграл катку домашнего, невероятно памятного мундиаля, словно никогда и не был андердогом! Учитывая атмосферу вокруг, то было сказочное время.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧЕ-2020</strong> <span class="text-muted">(сыгран в 2021 году)</span></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 20</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Лаванов — 111,27 очков</li>
      <li>Котопёс — 104,37 очков</li>
      <li>Rin — 102,19 очков</li>
      <li style="list-style: none;">…</li>
      <li value="18">DaRk SnoW — 57,94 очков</li>
      <li>JB — 52,69 очков</li>
      <li>Ромич — 48,52 очков</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> На этом ТП была опробована новая система начисления баллов, где очки были сопряжены с коэффициентами букмекеров на конкретный матч, что вызвало массу споров в прогнозистской среде. В итоге, к этому новшеству быстрее всех адаптировался г-н Лаванов и победил в своём 2-м ТП! А если бы система начисления баллов была бы старой, то выиграл бы г-н Котопёс. Но он в итоге снова стал вторым. Данный ТП тоже оказался одним из самых памятных, благодаря тому, что ряд матчей проходил в Санкт-Петербурге.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧМ-2022</strong></div>
  <div class="card-body">
    <p><strong>Кол-во участников:</strong> 18</p>
    <p><strong>Распределение мест:</strong></p>
    <ol>
      <li>Лаванов — 75 очков</li>
      <li>Ромич — 73 очка</li>
      <li>Пшек — 69 очков</li>
      <li style="list-style: none;">…</li>
      <li value="16">JB — 44 очка</li>
      <li>Зураб — 42 очка</li>
      <li>Котопёс — 38 очков</li>
    </ol>
    <p class="text-muted"><em>Пояснения:</em> Невероятно, но г-н Лаванов повторил достижение г-жи Пшек и выиграл 2-й Турнир Прогнозистов кряду! Маэстро в упорной борьбе добился желаемого и навсегда вписал своё имя (в данном случае, фамилию) в историю ТП.</p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header"><strong>Турнир прогнозистов ЧЕ-2024</strong></div>
  <div class="card-body">
    <p class="text-muted font-italic">Это было недавно. Но, как это неудивительно, многое стёрло время. Информация по данному ТП уточняется.</p>
    <p><strong>Победитель:</strong> Моряков</p>
  </div>
</div>

{% endblock %}
