{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% trans "Matches" %}</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>{% trans "Match" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Result" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
        <tr>
          <td> <a href="{% url 'matches:single_match' match.match_id %}"> {{ match }} </a></td>
          <td class="align-middle"> {{ match.start_time|date:"d-m-Y H:i" }} </td>
          <td class="align-middle"> {{ match.result }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}

{% endblock %}
