{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>{% trans "Match" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Result" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
        <tr>
          <td> <a href="{% url 'matches:single_match' match.match_id %}"> {{ match }} </a></td>
          <td class="align-middle"> {{ match.start_time|date:"d-m-Y H:i" }} </td>
          <td class="align-middle"> {% if match.result %}{{ match.result }}{% else %}{% trans "Not started" %}{% endif %} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}

{% endblock %}
