{% extends 'base.html' %}

{% load extensible_blocks %}
{% load mathfilters %}

{% block title %}
    {{ match }} - {{ block.super }}
{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'matches:matches_index' %}">Matches</a></li>
  <li class="breadcrumb-item active">{{ match }}</li>
{% endblock %}
{% block content %}
  {% if match.result %}
    <h1>{{ match.result }}</h1>
  {% else %}
    <h1>No result yet.</h1>
  {% endif %}
  <h2>{{ match }}</h2>
  <h4>{{ match.start_time|date:"d-m-Y H:i" }}</h4>

  {% if match.result %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>User</th>
          <th>Prediction</th>
          <th>Result Points</th>
          <th>Score Points</th>
          <th>High Score Points</th>
          <th>Block Bonus Points</th>
          <th>Penalty Points</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        {% for user, user_result in users_results.items %}
          {% for _, match in user_result.items %}
            <tr>
              <td> <a href="{% url 'results:user_results' user.id %}"> {{ user }} </a></td>
              {% if match %}
                <td>{{ match.match_prediction }}</td>
                <td>{{ match.result_points }}</td>
                <td>{{ match.score_points }}</td>
                <td>{{ match.high_score_points }}</td>
                <td>{{ match.block_bonus_points }}</td>
                <td>{{ match.penalty_points }}</td>
                <td>{{ match.result_points|addition:match.score_points|addition:match.high_score_points|addition:match.block_bonus_points|addition:match.penalty_points }}</td>
              {% else %}
                <td>No prediction given</td>
                <td>No prediction given</td>
                <td>No prediction given</td>
                <td>No prediction given</td>
                <td>No prediction given</td>
                <td>No prediction given</td>
                <td>No prediction given</td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>No prediction table available.</h3>
  {% endif %}
{% endblock %}
